<%= form_for @todo do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit :value => 'Add Todo' %>
<% end %>
<% @todos.each do |todo| %>
  <div class="todo <%= todo.complete? ? 'complete' : 'incomplete' %>">
    <%= form_tag toggle_todo_completeness_path(todo), :method => 'PATCH' do %>
      <% if !todo.complete?  %>
        <%= submit_tag('Complete Todo', :class => 'complete-button') %>
      <% else  %>
        <%= submit_tag('Uncomplete Todo', :class => 'uncomplete-button') %>
      <% end %>
    <% end  %>
  </div>
<% end %>
