<%= form_for @todo do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit :value => 'Add Todo' %>
<% end %>
<% @todos.each do |todo| %>
  <div class="todo <%= todo.complete? ? 'complete' : 'incomplete' %>"></div>
<% end %>
