<h1><%= @todo.title %></h1>
<% if @todo.complete? %>
  <p>Todo complete!</p>
<% else %>
  <p>Todo incomplete</p>
  <%= form_tag toggle_todo_completeness_path(@todo), :method => 'PATCH' do %>
    <%= submit_tag('Complete Todo') %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_todo_path(@todo) %>
<%= form_tag "/todos/#{@todo.id}", :method => 'DELETE' do %>
  <%= submit_tag 'Delete Todo' %>  
<% end %>
